<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orz.dao.UserDao">

    <!--查询所有用户信息-->
    <select id="findAll" resultType="com.orz.bean.User">
        select * from tb_user
    </select>

    <!--通过用户名查询一个用户-->
    <select id="findOneUserByUserName" parameterType="java.lang.String"  resultType="com.orz.bean.User">
        select * from tb_user
        where userName=#{userName}
    </select>

    <!--通过用户id查找一个用户-->
    <select id="findOneUserByUserId" parameterType="java.lang.Integer" resultType="com.orz.bean.User">
         select * from tb_user
        where userId=#{userId}
    </select>

    <!--插入一个用户-->
    <insert id="insertOneUser" parameterType="com.orz.bean.User">
        insert into tb_user (userId,userName,userPsw,other1,other)
        values (#{userId},#{userName},#{userPsw},#{other1},#{other})
    </insert>

    <update id="updateUserById" parameterType="com.orz.bean.User" >
        update tb_user
        set userName=#{userName},userPsw=#{userPsw}
    </update>

</mapper>