body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

body {
    font: 12px/1.5 Arial;
    -webkit-text-size-adjust: none;
}

select, input, button {
    vertical-align: middle;
    font-size: 100%;
}

fieldset, img {
    border: 0 none;
}

em {
    font-style: normal;
}

.clear {
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    font: 0/0 arial;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

.clearfix {
    *zoom: 1;
}

.zusername span b, .ocls, .m b, .icon-msg, .onav span a, .sub_nav a {
    background: url(http://icon.zol-img.com.cn/products/product2011/pub_head_20140917.png) no-repeat;
}

.site-nav {
    border-bottom: 1px solid #e4e4e4;
    background: #f5f5f5;
    height: 27px;
}

.site-nav-inner {
    width: 980px;
    margin: 0 auto;
    padding-top: 3px;
    height: 24px;
    line-height: 24px;
}

.site-nav-inner a {
    color: #666;
    text-decoration: none;
}

.site-nav-inner a:hover {
    color: #f60;
}

.quick-menu {
    float: left;
    color: #ccc;
    position: relative;
}

.quick-menu i {
    position: absolute;
    left: 164px;
    top: -3px;
    width: 9px;
    height: 14px;
    background: url(http://icon.zol-img.com.cn/products/product2011/survey/wnew.gif) no-repeat 0 0;
}

.quick-menu a {
    margin: 0 6px;
}

.quick-menu .home {
    margin: 0 6px 0 0;
}

.quick-more {
    float: left;
    position: relative;
    z-index: 51;
    zoom: 1;
}

.quick-more .m {
    float: left;
    position: relative;
    z-index: 1;
    padding: 1px 20px 1px 8px;
    padding: 2px 20px 0 8px \9;
    height: 22px;
    line-height: 22px;
    color: #666;
    cursor: default;
}

.quick-more-hover .m {
    margin-bottom: -2px;
    padding: 0 19px 2px 7px;
    padding: 1px 19px 1px 7px \9;
    border: 1px solid #ccc;
    border-bottom: 0 none;
    background: #fff;
}

.quick-more-hover .quick-more-list {
    display: block;
}

.quick-more .m b {
    position: absolute;
    right: 8px;
    top: 10px;
    width: 7px;
    height: 4px;
    font: 0/0 arial;
    background-position: 0 -68px;
}

.quick-more-hover .m b {
    right: 7px;
    top: 9px;
    background-position: 0 -91px;
}

.quick-more-list {
    display: none;
    position: absolute;
    left: 0;
    top: 24px;
    width: 158px;
    border: 1px solid #ccc;
    background: #fff;
}

.quick-more-list dl {
    padding: 4px 0 6px 10px;
}

.quick-more-list .hover {
    background: #f5f5f5;
}

.quick-more-list dt {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    color: #666;
    font-weight: bold;
}

.quick-more-list dd {
    overflow: hidden;
    zoom: 1;
    line-height: 20px;
}

.quick-more-list dd a {
    float: left;
    margin-right: 12px;
    white-space: nowrap;
}

.quick-more-list .line {
    padding-top: 0;
}

.quick-more-list .line dt {
    padding-top: 4px;
    margin-right: 10px;
    border-top: 1px solid #ccc;
}

.quick-more-list p {
    margin: 0 10px;
    height: 32px;
    line-height: 32px;
    border-top: 1px solid #ccc;
    font-weight: bold;
}

.login-info {
    float: right;
}

.login-info span {
    margin: 0 10px;
    color: #ccc;
}

.login-info span a {
    margin: 0;
}

.login-info a {
    margin-left: 10px;
}

.login-info #wtrendVisitedMsg, .login-info #wtrendFollowMsg {
    float: right;
    margin: 0 0 0 15px;
    height: 24px;
    line-height: 24px;
    position: relative;
}

.login-info #wtrendVisitedMsg a, .login-info #wtrendFollowMsg a {
    margin: 0;
}

#wtrendVisitedMsg em, #wtrendFollowMsg em {
    color: #f60;
}

#wtrendVisitedMsg i, #wtrendFollowMsg i {
    position: absolute;
    right: -8px;
    top: -3px;
    width: 9px;
    height: 14px;
    background: url(http://icon.zol-img.com.cn/products/product2011/survey/wnew.gif) no-repeat 0 0;
}

.login-info .head-msg {
    float: right;
    padding-left: 10px;
    height: 24px;
    overflow: hidden;
}

.login-info .head-msg a {
    margin-left: 0;
}

.login-info .icon-msg {
    float: left;
    width: 14px;
    margin: 6px 0 0;
    height: 11px;
    background-position: -9px 1px;
}

.login-info .icon-msg-new {
    background-position: -7px -13px;
}

.login-info .zusername {
    float: right;
    position: relative;
    height: 24px;
    z-index: 999;
    white-space: nowrap;
}

.login-info .logout {
    float: left;
    white-space: nowrap;
    margin: 0 0 -2px 0;
    padding: 0 0 0 5px;
    color: #666;
    font-family: "Simsun";
}

#msg_n {
    display: none;
}

.login-info .zusername span {
    position: relative;
    z-index: 2;
    float: left;
    margin: 0;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 1px 19px 1px 9px;
}

.login-info .zusername a {
    margin: 0;
    position: relative;
}

.login-info .zusername-hover span {
    padding: 0 18px 2px 8px;
    border: 1px solid #ccc;
    border-bottom: 0 none;
    background: #fff;
}

.login-info .zusername span b {
    position: absolute;
    right: 6px;
    top: 11px;
    width: 7px;
    height: 4px;
    font: 0/0 arial;
    background-position: 0 -68px;
}

.login-info .zusername-hover span b {
    right: 5px;
    top: 10px;
    background-position: 0 -91px;
}

.login-info .user-center {
    display: none;
    position: absolute;
    top: 24px;
    left: 0;
    min-width: 93px;
    _width: 93px;
    padding: 4px 0 0;
    border: 1px solid #ccc;
    background: #fff;
}

.login-info .user-center a {
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    margin: 0;
    white-space: nowrap;
}

.user-center a:hover {
    color: #666;
    background: #f5f5f5;
    text-decoration: none;
    *color: #f60;
    *background: none;
    *text-decoration: underline;
}

.zusername-hover .user-center {
    display: block;
}

.logo {
    float: left;
    margin-top: 10px;
}

.logo a {
    float: left;
    width: 211px;
    height: 32px;
    background: url(http://icon.zol-img.com.cn/products/product2011/pub_logo.png) no-repeat;
    text-indent: -9999em;
    overflow: hidden;
}

.logo b {
    float: left;
    width: 10px;
    height: 32px;
    margin: 0 10px 0 0;
    border-right: 1px solid #ccc;
    text-indent: -9999em;
    overflow: hidden;
}

.logo strong {
    float: left;
    margin-top: 2px;
    margin-top: 4px \9;
    height: 28px;
    font: 28px/1 "Microsoft YaHei";
    color: #333;
}

:root .logo strong {
    margin-top: 4px \0;
}

.search-box {
    float: right;
    position: relative;
    z-index: 50;
    width: 459px;
    padding: 0 81px 0 0;
    margin: 10px 0 0 0;
    border-width: 1px 0;
    border-color: #3687d9;
    border-style: solid;
}

.search-box .input {
    position: relative;
    padding: 4px 4px 4px 6px;
    height: 21px;
    border-width: 1px 0 1px 2px;
    border-color: #3687d9;
    border-style: solid;
    overflow: hidden;
    zoom: 1;
    background: #fff;
}

.search-box .stext {
    float: left;
    width: 447px;
    height: 21px;
    border: 0 none;
    outline: 0 none;
    font: 14px/21px arial;
    color: #ccc;
}

.search-box .sbtn {
    position: absolute;
    right: 0;
    top: -1px;
    width: 81px;
    height: 33px;
    border: 0 none;
    background-color: #3687d9;
    color: #fff;
    font: bold 14px/33px arial;
    overflow: hidden;
    cursor: pointer;
}

.search-suggest {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    border: 1px solid #bfbfbf;
    width: 458px;
    background: #fff;
    z-index: 20;
}

.suggest-list li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    padding-left: 18px;
    color: #666;
    cursor: pointer;
}

.suggest-list li span {
    float: none;
    margin-right: 0;
    color: #f00;
}

.suggest-list .sug-sel {
    background: #f3f3f3;
}

.suggest-list .sug-t {
    padding-left: 5px;
    font-weight: bold;
}

#navigation {
    clear: both;
    padding-top: 19px;
    height: 36px;
}

.header {
    padding: 10px 0 0;
    margin: 0 auto;
    width: 980px;
    height: 100px;
}

.pub_nav {
    width: 978px;
    height: 34px;
    margin: 0 auto;
    border: 1px solid #e6e6e6;
    background: #fafafa;
}

.pub_nav .home {
    background: none;
}

.pub_nav li {
    float: left;
    line-height: 34px;
}

.pub_nav li span {
    display: inline-block;
    padding: 0 9px;
}

.pub_nav li strong {
    display: inline-block;
    padding: 0 0 0 13px;
    font-weight: normal;
    color: #666;
}

.pub_nav .onav span a {
    padding-right: 12px;
    color: #333;
    background-position: 100% -38px;
}

.pub_nav .onav span a:hover {
    color: #f60;
}

.pub_nav .all {
    background: none;
}

.pub_nav .all span a {
    color: #333;
    font-family: simsun;
}

.pub_nav .all span a:hover {
    color: #f60;
}

.pub_nav .cur {
    position: relative;
    z-index: 22;
    border: 1px solid #e0e0e0;
    margin: -1px -1px 0;
    background: #fff;
    line-height: 34px;
}

.pub_nav .cur span {
    height: 35px;
    position: relative;
    margin-bottom: -1px;
    _margin-bottom: -2px;
    z-index: 2;
    background-color: #fff;
}

.pub_nav .cur .sub_nav {
    display: block;
}

.sub_nav {
    display: none;
    position: absolute;
    z-index: 1;
    left: -72px;
    top: 36px;
}

.sub_nav_inner {
    position: relative;
    left: -2px;
    top: -2px;
    width: 449px;
    padding: 0 20px;
    border: 1px solid #e0e0e0;
    background: #fff;
}

.sub_nav_inner a {
    color: #333;
}

.sub_nav_inner a:hover {
    color: #f60;
    text-decoration: underline;
}

.sub_nav_inner dl {
    position: relative;
    zoom: 1;
    border-top: 1px dotted #e0e0e0;
    margin-top: -1px;
    padding: 5px 4px 15px 80px;
    line-height: 16px;
}

.sub_nav_inner dt {
    position: absolute;
    left: 4px;
    top: 13px;
    font-weight: bold;
}

.sub_nav_inner dd {
    overflow: hidden;
    line-height: 16px;
    _zoom: 1;
}

.sub_nav_inner dt a {
    padding: 0;
    background: none;
}

.sub_nav_inner dd a {
    float: left;
    padding: 0 8px 0 9px;
    margin-left: -1px;
    margin-top: 8px;
    background-position: -20px -101px;
    white-space: nowrap;
}

.sub_nav_inner dd .more {
    font-family: simsun;
}

.ocls {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 10px;
    height: 9px;
    padding: 8px;
    font: 0/0 arial;
    background-position: 9px -102px;
    cursor: pointer;
}

.ocls:hover, .ocls_hover {
    background-position: 9px -126px;
}

.nav_shadow {
    background: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: .5;
    filter: alpha(opacity=50);
}

* html .nav_shadow {
    display: none;
}

#sub_list6, #sub_list7, #sub_list8, #sub_list9 {
    left: auto;
    right: -162px;
}

#sub_list10 {
    left: auto;
    right: -165px;
}

#sub_list13 {
    left: auto;
    right: -80px;
}

#sub_list14 {
    left: auto;
    right: -100px;
}

#sub_list1 {
    left: -48px;
}

.r {
    float: right;
}

.wrapper {
    float: none;
    width: 980px;
    margin: 0 auto;
}

#header {
    margin-bottom: 10px;
}

a {
    color: #0368a8;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #f60;
    text-decoration: underline;
}

.mt {
    margin-top: 10px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
    font-family: arial;
}

.q_c {
    color: #999;
    font-size: 12px;
    font-weight: 400;
}

.fc1 {
    color: #f00;
}

.fc2 {
    color: #008000;
}

.fc3 {
    color: #c00;
}

.fc4 {
    color: #390;
}

.fc5 {
    color: #999;
}

.fc6 {
    color: #ff6c00;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.price_up {
    color: #C00;
    font-size: 12px;
    font-weight: 400;
}

.price_down {
    color: #008000;
    font-size: 12px;
    font-weight: 400;
}

.mg15 {
    margin: 15px 0;
    padding-left: 24px;
}

#manuSer {
    border-top: 0;
}

.nav_list_l, .nav_list_con, .nav_list_con li, .nav_list_r, .onav i, .nav_list_con .hov a, .nav_list_con .hov span, .nav_list_con .hov i, .nav_list_con .vis a, .nav_list_con .vis span, .nav_list_con .vis i, .navbar_more .nav_closed {
    background: url(http://icon.zol-img.com.cn/products/nav_list_bg.png) no-repeat;
}

a {
    color: #0368A8;
    text-decoration: none;
}

a:hover {
    color: #f60;
    text-decoration: underline;
}

#hd .link a:hover, #top_login a:hover, .related_list a:hover {
    color: #f60;
}

.zcatetit strong {
    background: no-repeat url(http://icon.zol-img.com.cn/products/nav_bg.jpg);
}

.zcatetit {
    color: #999;
    height: 28px;
    float: none;
    line-height: 26px;
}

.zcatetit strong {
    float: left;
    background-position: 0 -39px;
    width: 120px;
    height: 27px;
    text-align: center;
    line-height: 29px;
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}

.zcatetit .r {
    padding-right: 5px;
    color: #333;
}

#catelist dt {
    padding-left: 10px;
}

#catelist .rowimg {
    padding: 7px 0 7px 8px;
    display: block;
}

#catelist .row dd {
    color: #CCC;
    line-height: 14px;
}

#catelist .rowimg li {
    background-color: #FFF;
    border: 1px solid #CCC;
    float: left;
    height: 58px;
    margin-right: 11px;
    overflow: hidden;
    padding: 6px 10px 4px;
    text-align: center;
    width: 80px;
}

#searchForm #keywords {
    border: 0;
    width: 276px;
    margin-top: 6px;
    margin-right: 0;
    height: 20px;
}

.l {
    float: left;
}

.pub_search .r {
    float: right;
    height: 28px;
    line-height: 37px;
    overflow: hidden;
    width: 300px;
}

.pub_search a {
    padding: 0 5px;
}

.pub_search a {
    background-position: -86px 12px;
    color: #FFF;
    float: left;
    text-decoration: underline;
}

.icon {
    background: url("http://icon.zol-img.com.cn/products/icon.gif") no-repeat scroll 0 0 transparent;
}

.addfav {
    text-indent: 14px;
}

#head_pub_nav li {
    float: left;
}

.search_box {
    height: 42px;
    line-height: 42px;
    background: url(http://icon.zol-img.com.cn/products/images/search_bg.png) 0 0 #0E4088;
    margin: 6px 5px 0;
    position: relative;
}

.lc, .rc {
    position: absolute;
    top: 0;
    width: 5px;
    height: 42px;
    background: url(http://icon.zol-img.com.cn/products/images/search_bg.png) no-repeat;
}

.lc {
    left: -5px;
    background-position: 0 -198px;
}

.rc {
    right: -5px;
    background-position: -5px -198px;
}

.search_box h3 {
    color: #fff;
    font: bold 20px/42px "Microsoft YaHei", "Simsun";
    margin-left: 8px;
}

.search_form {
    position: absolute;
    top: 9px;
    right: 5px;
    font: 12px/1.125 arial;
}

.s_text {
    display: inline-block;
    height: 23px;
    width: 200px;
    background: url(http://icon.zol-img.com.cn/products/images/search_bg.png) 0 -171px no-repeat;
}

.s_text input {
    width: 295px;
    padding-left: 5px;
    margin: 3px 2px 0;
    line-height: 18px;
    border: 0 none;
    background: transparent;
    font-size: 14px;
    color: #666;
}

.s_btn {
    height: 23px;
    width: 69px;
    border: 0 none;
    background: url(http://icon.zol-img.com.cn/products/images/search_bg.png) no-repeat -83px -198px;
    cursor: pointer;
    margin-left: 8px;
    text-indent: -9999em;
}

.search_nav {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #d3edfb;
    color: #bed9ed;
    background: #f0f6fb;
    position: relative;
}

.search_nav a {
    margin: 0 2px;
}

.link_copy, .url_back {
    position: absolute;
    right: 10px;
    top: 0;
}

.link_copy a, .url_back a {
    text-decoration: underline;
}

.breadcrumb {
    height: 32px;
    line-height: 32px;
    position: relative;
}

.url_back a {
    color: #03c;
}

.url_back a:hover {
    color: #f60;
}

.s_condition {
    border: 2px solid #bad6eb;
}

.title_ser {
    background: #edf5fe;
    height: 28px;
    line-height: 28px;
    margin-bottom: 1px;
}

.title_ser strong {
    float: left;
    display: inline-block;
    height: 29px;
    background: url(http://icon.zol-img.com.cn/products/images/search_bg.png) no-repeat 0 -249px #0975b1;
    position: relative;
    padding: 0 5px;
    font: bold 14px/29px "Simsun";
    text-align: center;
    color: #fff;
}

.title_ser span {
    float: left;
    display: inline-block;
    width: 13px;
    height: 29px;
    background: url(http://icon.zol-img.com.cn/products/images/search_bg.png) no-repeat -291px -198px;
    position: relative;
}

.s_condition .title {
    margin: 0;
}

.s_condition .title strong {
    margin: -2px 0 0 -2px;
}

.s_condition dl {
    margin-right: 6px;
    overflow: hidden;
    _zoom: 1;
    border-top: 1px dashed #dde7f0;
    background: #edf5fe;
}

.s_condition dt, .s_condition dd {
    float: left;
}

.s_condition dt {
    font-weight: bold;
    padding-left: 20px;
    width: 120px;
    line-height: 19px;
    padding: 2px 0 0 20px;
    background: url(http://icon.zol-img.com.cn/products/images/search_icon.png) no-repeat 8px -326px;
    color: #333;
}

.s_condition dd {
    width: 850px;
    line-height: 22px;
    padding: 2px 0 35px;
    margin-bottom: -35px;
    background: #fff;
}

.s_condition dd label {
    float: left;
    display: inline;
    min-width: 120px;
    _width: 120px;
    white-space: nowrap;
    margin-left: 6px;
    vertical-align: middle;
}

.s_condition em {
    float: right;
}

.s_condition dd input {
    vertical-align: -17%;
    *vertical-align: middle;
    margin-right: 4px;
}

.checked {
    color: #c30;
}

.s_condition .selected {
    border: 0 none;
    margin-right: 0;
}

.s_condition .selected dd {
    background: #edf5fe;
}

.selected .sel {
    display: inline-block;
    line-height: 20px;
    margin: 1px 2px 4px 0;
    padding: 2px 20px 3px 10px;
    border: 1px solid #96CAF0;
    background: #fff url(http://icon.zol-img.com.cn/products/images/search_icon.png) no-repeat 100% -240px;
    vertical-align: middle;
}

.selected .sel:hover {
    background-position: 100% -264px;
    text-decoration: none;
}

.reset {
    line-height: 20px;
    padding: 3px 0 3px 20px;
    margin-left: 10px;
    background: url(http://icon.zol-img.com.cn/products/images/search_icon.png) no-repeat 0 -9px;
    display: inline-block;
}

.result_num {
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.result_num span {
    color: #c00;
}

.sort {
    height: 25px;
    line-height: 25px;
    position: relative;
    border-bottom: 2px solid #63a6e9;
}

.sort_rules dt, .sort_rules dd {
    float: left;
    color: #333;
}

.sort_rules dt {
    width: 52px;
    text-align: center;
}

.sort_rules dd {
    height: 24px;
    border: 1px solid #c1d7f2;
    border-bottom: 0 none;
    background: url(http://icon.zol-img.com.cn/products/images/search_bg.png) 0 -70px;
}

.sort_rules dd a, .sort_rules dd span {
    border-left: 1px solid #c1d7f2;
    margin-left: -1px;
    float: left;
    width: 60px;
    text-align: center;
}

.sort_rules dd span {
    position: relative;
    border: 2px solid #63a6e9;
    border-bottom-color: #fff;
    margin: -2px -1px -2px -2px;
    height: 24px;
    background: #fff url(http://icon.zol-img.com.cn/products/images/search_bg.png) 0 -95px;
    font-weight: bold;
}

.sort_rules dd a:hover {
    text-decoration: none;
}

.page_order {
    line-height: 20px;
    position: absolute;
    right: 10px;
    top: 0;
}

.page_order .prev, .page_order .next {
    display: inline-block;
    background: url(http://icon.zol-img.com.cn/products/images/search_bg.png) no-repeat;
    vertical-align: middle;
}

.page_order .prev a, .page_order .next a {
    display: block;
    height: 21px;
    text-indent: -9999em;
    overflow: hidden;
}

.page_order .prev {
    width: 20px;
    margin-right: 10px;
    background-position: -15px -221px;
}

.page_order .next {
    width: 60px;
    margin-left: 10px;
    background-position: -15px -198px;
}

.page_order strong {
    color: #f00;
}

.list_box {
    border: 1px solid #add0f3;
    border-top: none;
}

.order_bar {
    height: 30px;
    padding-top: 10px;
    border-bottom: 1px dotted #a5bfe0;
    position: relative;
}

.com_btn {
    margin-left: 8px;
    padding-left: 30px;
    background: url(http://icon.zol-img.com.cn/products/images/search_icon.png) no-repeat 0 -172px;
}

.com_btn button {
    height: 22px \9;
    width: 138px;
}

.list_type {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn_detail, .btn_pic {
    display: inline-block;
    font: 12px/12px "Simsun";
    height: 13px;
    margin: 0 2px;
    padding: 4px 4px 4px 25px;
    text-decoration: none;
    vertical-align: middle;
    background: url(http://icon.zol-img.com.cn/products/images/search_icon.png) no-repeat;
    border: 1px solid #fff;
}

.list_type a.btn_detail {
    background-position: 6px -39px;
}

.list_type a.btn_pic {
    background-position: 6px -79px;
}

.list_type span.btn_detail {
    background-position: 6px -59px;
}

.list_type span.btn_pic {
    background-position: 6px -99px;
}

.list_type span, .list_type a:hover {
    background-color: #FDF2DB;
    border: 1px solid #FD8C26;
    color: #FD8C26;
    text-decoration: none;
}

.result_list li {
    padding: 2px 0 2px 188px;
    position: relative;
    border-bottom: 1px dotted #a5bfe0;
    height: 140px;
    line-height: 22px;
}

.result_list li li {
    padding: 0;
    border: none;
    height: auto;
}

.check_pic {
    position: absolute;
    top: 2px;
    left: 2px;
}

.date_price {
    position: absolute;
    top: 10px;
    right: 15px;
    overflow: hidden;
    display: block;
}

.check_pic label {
    float: left;
    height: 80px;
    width: 25px;
    background: #ebeffc;
    padding-top: 60px;
}

.check_pic input {
    vertical-align: middle;
    margin-left: 5px;
    *margin-left: 2px;
}

.check_pic .pic {
    display: inline-block;
    width: 120px;
    margin: 10px 8px 0 17px;
}

.pic img {
    display: block;
}

.pro_detail {
    margin-top: 10px;
    color: #333;
}

.pro_detail dt {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
}

.pro_detail dt a {
    color: #00c;
    text-decoration: underline;
    vertical-align: baseline;
}

.pro_detail dt a:hover {
    color: #f60;
}

.param {
    float: left;
    width: 255px;
}

.param li a {
    margin-left: 10px;
    vertical-align: baseline;
}

.pro_cmt li {
    float: left;
    width: 255px;
}

.lstar, .lstar span {
    background: url("http://icon.zol-img.com.cn/products/lstar.gif") repeat-x 0 -11px;
    display: inline-block;
    height: 11px;
    line-height: 11px;
    overflow: hidden;
    width: 55px;
    font: 0/22px arial;
    margin-top: 5px;
}

.lstar span {
    background-position: 0 0;
    margin: 0;
    overflow: hidden;
    height: 11px;
}

.date_price .price {
    color: #c00;
}

.date_price .date {
    color: #008000;
    font-size: 10px;
    padding-left: 10px;
}

.pages {
    padding: 16px 16px 20px;
}

.page_total {
    float: left;
    padding-left: 15px;
}

.page_total .f20 {
    display: inline-block;
    vertical-align: middle;
}

.page_num {
    float: right;
    line-height: 25px;
    font: bold 14px/25px Tahoma;
}

.page_num a, .page_num span {
    padding: 0 9px;
    margin: 0 5px;
    display: inline-block;
    height: 27px;
    line-height: 27px;
}

.page_num a {
    border: 1px solid #c8d8ec;
    text-decoration: none;
    background: #f4f8fb;
    color: #07519a;
}

.page_num a:hover {
    text-decoration: underline;
    color: #f60;
}

.page_num span.sel {
    border: 1px solid #497394;
    background: #7ca0be;
    color: #fff;
    font-weight: bold;
}

.no_result {
    margin: 20px 0;
    font-size: 14px;
    font-weight: bold;
    color: #c00;
}

.no_result p {
    width: 470px;
    height: 80px;
    line-height: 80px;
    background: #fffce6 url(http://icon.zol-img.com.cn/products/images/serError.gif) no-repeat 20px 50%;
    border: 1px solid #ffbf68;
    margin: 0 auto;
    padding-left: 90px;
}

.result_list_h {
    overflow: hidden;
    zoom: 1;
}

.result_list_h li {
    float: left;
    display: inline;
    width: 315px;
    margin-left: -1px;
    border-bottom: 1px dotted #a5bfe0;
    padding: 5px 5px 5px 0;
}

.pro_detail_h {
    border-left: 1px dotted #a5bfe0;
    padding-bottom: 18px;
}

.pro_detail_h dt {
    font: bold 32px/1 "Simsun", san-serif;
    padding-left: 15px;
    margin: 5px 0 5px 12px;
    display: block;
    vertical-align: middle;
}

.pro_detail_h dt a {
    color: #00c;
    text-decoration: underline;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
}

.pro_detail_h dt a:hover {
    color: #f60;
}

.pro_detail_h dd {
    padding-left: 198px;
    line-height: 18px;
    overflow: hidden;
    zoom: 1;
}

.check_pic_h {
    float: left;
    display: inline;
    position: relative;
    margin-left: -173px;
}

.check_h, .result_list_h .compare-btn {
    position: absolute;
    left: -20px;
    top: 0;
    *left: -23px;
    *top: -3px;
}

.pic_h img {
    display: block;
    border: 1px solid #ccc;
}

.pro_price strong {
    display: block;
}

.pro_price .price {
    color: #c00;
    margin: 5px 0 0;
}

.pro_price .date {
    color: #008000;
    font-size: 10px;
}

.nop {
    font-size: 20px;
    margin: 5px 0;
}

.result_vote {
    border: 1px solid #79b0d9;
    padding: 10px;
    line-height: 26px;
    font-size: 14px;
    text-align: center;
}

.vote_item {
    width: 354px;
    margin: 0 auto;
    padding: 16px 0 26px;
}

.vote_item li {
    float: left;
    display: inline;
    width: 145px;
    height: 60px;
    margin: 0 15px;
    background: #f7d89d;
    position: relative;
}

.vote_item li a {
    display: block;
    height: 58px;
    position: relative;
    top: -2px;
    left: -2px;
    background: #fff9ce;
    border: 1px solid #d98800;
    font: bold 24px/58px "Microsoft YaHei";
}

.vote_item li a:hover {
    background: #ffeeac;
}

.your_sug {
    padding: 10px 0 0;
}

.your_sug textarea {
    width: 424px;
    height: 60px;
    padding: 5px 0 0 6px;
    border: 1px solid #8ca4bb;
    font-size: 14px;
}

.sug_btn {
    padding-top: 10px;
}

.sug_btn input {
    height: 24px \9;
    width: 74px;
    vertical-align: middle;
    margin-right: 10px;
}

.voted {
    height: 130px;
    line-height: 130px;
    font-weight: bold;
    color: #390;
}

.bd {
    border: 1px solid #c5d7ed;
    padding: 1px;
}

.latest .tit {
    height: 28px;
    line-height: 28px;
    background: #ecf7ff;
    position: relative;
}

.latest h3 {
    font-size: 14px;
    color: #333;
    margin-left: 8px;
    padding-left: 22px;
    background: url(http://icon.zol-img.com.cn/products/images/search_icon.png) no-repeat 0 -206px;
}

.latest .tit p {
    position: absolute;
    right: 10px;
    top: 0;
    color: #999;
}

.li_pic {
    padding: 6px;
}

.li_pic li {
    float: left;
    display: inline;
    width: 82px;
    margin: 0 6px;
    text-align: center;
    line-height: 20px;
    overflow: hidden;
}

.li_pic img {
    display: block;
    margin-bottom: 4px;
    border: 1px solid #ccc;
}

.product_more .tit {
    height: 26px;
    line-height: 26px;
    position: relative;
    background: #ecf7ff url(http://icon.zol-img.com.cn/products/images/search_bg.png) repeat-x 0 -43px;
}

.product_more .tit strong {
    display: block;
    color: #fff;
    padding-left: 8px;
}

.product_more .tit p {
    color: #ffc;
    position: absolute;
    top: 0;
    right: 10px;
}

.product_more .tit p a {
    color: #ffc;
}

.li_word {
    background: url(http://icon.zol-img.com.cn/products/images/search_bg.png) repeat-x 0 -287px;
    padding: 8px 5px 0 30px;
}

.li_word li {
    float: left;
    width: 230px;
    color: #333;
    line-height: 22px;
}

.product_more .more {
    text-align: right;
    padding-right: 40px;
    line-height: 30px;
}

.footn {
    float: none;
    clear: both;
    padding: 0 15px;
    height: 32px;
    border-top: 1px solid #D9D9D9;
    margin: 8px 0 0 0;
    font-family: verdana;
}

.footn img, .footn input {
    float: left;
}

.footn input.putin {
    width: 236px;
    height: 20px;
    font: 12px/20px simsun;
    margin: 0 6px;
    border: 1px solid #ccc;
}

.footn input.button {
    height: 20px;
    border: 1px solid #ccc;
    width: 40px;
}

.footn .r {
    float: right;
}

.footn .pd5 {
    padding: 5px 0;
}

.footnc {
    float: none;
    clear: both;
    padding: 10px auto;
    background: #fff;
    text-align: center;
    font: 12px/25px simsun;
    color: #333;
}

.footnc .lan12i {
    color: #07519A;
    text-decoration: underline;
}

.footnc .lan12i:hover {
    color: #f60;
    text-decoration: none;
}

.footnc .lv12i {
    color: #393;
    text-decoration: underline;
}

.footnc .lv12i:hover {
    color: #f60;
    text-decoration: none;
}

.footnc .h12 {
    color: #f30;
    text-decoration: none;
}

.footnc .h12:hover {
    color: #f60;
    text-decoration: underline;
}

.footnc .hei12 {
    color: #333;
    text-decoration: none;
}

.footnc .hei12:hover {
    color: #333;
    text-decoration: underline;
}

#s_filter .more {
    display: none;
}

#svsub {
    cursor: pointer;
    width: 110px;
    height: 28px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Simsun";
}

.serform {
    padding: 0 17px;
}

.Tips {
    text-align: center;
    height: 100px;
    overflow: hidden;
    line-height: 100px;
    font-weight: bold;
    border: 1px solid #C5D7ED;
    color: #333;
}

.disNone {
    display: none;
}

.disBlock {
    display: block;
}

#comp_box div {
    float: left;
}

#nav_left_td {
    padding-left: 35px;
}

.pub_search {
    background: url("http://icon.zol-img.com.cn/products/detail_nav_bg.gif") no-repeat scroll 0 -105px transparent;
}

.pub_search form {
    float: left;
}

#head_pub_nav em {
    text-decoration: none;
}

#comp_items li p.title {
    font-family: "Simsun";
}

.proprice .price {
    position: relative;
    top: -2px;
    top: -3px \9;
}

.price-normal .price-status, .price-np-num .price-status, .price-sp-num .price-status, .price-na .price-status {
    position: relative;
    top: -1px;
}

.proprice .price-normal, .proprice .price-np-num, .proprice .price-sp-num, .proprice .price-na {
    position: relative;
    top: 0;
}

.price-sign {
    font-size: 12px;
    color: #c00;
}

.price-type {
    font-size: 18px;
    font-weight: bold;
    color: #c00;
}

.price-status {
    margin-left: 5px;
    color: #999;
    font-family: simsun;
    font-size: 12px;
    font-weight: 500;
}

.price-neg .price-type, .price-upc .price-type, .price-sp .price-type, .price-cp .price-type, .price-np .price-type, .price-neg .price-type {
    font-size: 16px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}

.price-sp-num .price-type .price-np-num .price-type {
    font-size: 18px;
    font-weight: bold;
}

.price-upc .price-type, .price-cp .price-type {
    color: #f60;
}

.price-sp .price-type, .price-np .price-type, .price-sp-num .price-type, .price-np-num .price-type, .price-sp .price-sign, .price-np .price-sign, .price-sp-num .price-sign, .price-np-num .price-sign {
    color: #999;
}

#comp_box {
    position: fixed;
    right: 20px;
    top: 80px;
    _position: absolute;
    height: auto;
    width: 128px;
    background: #FFFEED;
    border: 1px solid #FFAE40;
    text-align: center;
    overflow: hidden;
    right: 30px;
    z-index: 9999;
    z-index: 11000;
    _top: expression(documentElement.scrollTop+80);
}

#comp_box input {
    float: none;
}

#comp_box form {
    width: 100%;
}

#comp_top {
    color: #FFF;
    font-size: 14px;
    line-height: 26px;
    background: #F0974F;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

#comp_top .top_l {
    padding-left: 5px;
}

#comp_top span {
    font-weight: normal;
}

#comp_top .close {
    float: right;
    width: 16px;
    height: 16px;
    margin: 5px;
    background: url(http://icon.zol-img.com.cn/detail0802/hidden.gif);
}

#comp_top b {
    color: #FF9;
}

#comp_items {
    width: 128px;
    margin: 0;
    padding: 0;
    clear: both;
    float: left;
}

#comp_items li {
    width: 100%;
    clear: both;
    text-align: center;
    border-bottom: 1px solid #FFAE40;
    float: left;
}

#comp_items li.over {
    background: #FFFCBF;
}

#comp_items li p {
    margin: 10px auto 0;
    padding: 0;
    float: none;
    display: block;
}

#comp_items li .icon {
    position: absolute;
    right: 0;
    background: url(http://icon.zol-img.com.cn/detail0802/del.gif);
    height: 16px;
    width: 16px;
    font-size: 0;
    line-height: 0;
    text-indent: -1000px;
    margin: 2px 2px 0 0;
    display: none;
}

#comp_items li p.img {
    width: 100%;
    text-align: center;
}

#comp_items li p.img img {
    width: 60px;
    height: 45px;
    border: 1px solid #B2CFE6;
    float: none;
}

#comp_items li p.title {
    margin: 5px 5px 2px;
    line-height: 15px;
}

#comp_btn_con {
    margin: 5px auto;
    text-align: center;
    width: 100%;
}

#comp_btn_con input {
    margin-top: 5px;
    display: inline-block;
}

#comp_boot {
    width: 110px;
    padding: 0 9px 0;
    line-height: 30px;
}

.selButton {
    width: 100px;
}